body {
    background-color: black;
    background-repeat: repeat;
}
h1 {
    font-family: titleFont;
    color: yellow;
    text-align: center;
    letter-spacing: 5px;
    animation: title 10s infinite linear;
    text-shadow: 2px 2px blue;
}
h2 {
    color: white;
    font-family: bodyFont;
    text-align: left;
    font-size: 24px;
    margin-bottom: 4px;
    font-weight: lighter;
}
p{
    font-size: 18px;
    font-family: bodyFont;
    color: white;
}

.title_link{
    font-family: bodyFont;
    font-size: 24px;
    color: yellow;
}

.bodydiv{
    outline-width: 5px;
    outline-style: solid;
    border-radius: 25px;
    padding: 25px;
    text-align: center;
    background-color: black;
}

@keyframes title {
    0%, 100%   {color: yellow;}
    20%  {color: red;}
    40%  {color: violet;}
    60% {color: blue;}
    80% {color: lime;}
}

@font-face {
    font-family: bodyFont;
    src: url(assets/GinzaNarrow-Medium.d050624c.otf);
}

@font-face {
    font-family: titleFont;
    src: url(assets/NamcoRegular-lgzd.ttf);
}