body {
    background-color: black;
    background-image: url("assets/background1.png");
    background-repeat: repeat;
    animation: bg_scroll 20s infinite linear;
}
h1 {
    font-family: titleFont;
    color: yellow;
    text-align: center;
    letter-spacing: 5px;
    animation: title 10s infinite linear;
    text-shadow: 2px 2px blue;
}
h2 {
    color: cyan;
    font-family: bodyFont;
    text-align: center; 
}
p{
    font-size: x-large;
    font-family: bodyFont;
    color: white;
}

.bodydiv{
    outline-width: 5px;
    outline-style: solid;
    outline-color: yellow;
    border-radius: 25px;
    padding: 25px;
    text-align: center;
    background-color: black;
}

.tilebar{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: 20px;
}

hr{
    border: 2px solid blue;
    border-radius: 5px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltiptext{
    scale: 0;
    transition: scale 0.1s;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 160px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    font-family: bodyFont;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    scale: 1;
}
  

/* Games Button */
.button_games{
    background-image: url(assets/button_games.png);
    width: 256px;
    height: 128px;
    border-style: none;
    border-radius: 11px;
    mix-blend-mode: screen;
    box-sizing: border-box;
    display: inline-block;
    transition: scale 0.1s;
}

.button_games:hover {
    background-image: url(assets/button_games_hover.gif);
    cursor:pointer;
}

.button_games:active{
    scale: 0.8;
}

/* Music Button */
.button_music{
    background-image: url(assets/button_music.png);
    width: 256px;
    height: 128px;
    border-style: none;
    border-radius: 11px;
    mix-blend-mode: screen;
    box-sizing: border-box;
    display: inline-block;
    transition: scale 0.1s;
}

.button_music:hover {
    background-image: url(assets/button_music_hover.gif);
    cursor:pointer;
}

.button_music:active{
    scale: 0.8;
}

/* About Button */
.button_about{
    background-image: url(assets/button_about.png);
    width: 256px;
    height: 128px;
    border-style: none;
    border-radius: 11px;
    mix-blend-mode: screen;
    box-sizing: border-box;
    display: inline-block;
    transition: scale 0.1s;
}

.button_about:hover {
    background-image: url(assets/button_about_hover.gif);
    cursor:pointer;
}

.button_about:active{
    scale: 0.8;
}

.contactbutton{
    background-color: transparent;
    box-sizing: border-box;
    display: inline-block;
    width: 64px;
    height: 64px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: blue;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: blue;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}
  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
  
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

@font-face {
    font-family: bodyFont;
    src: url(assets/GinzaNarrow-Medium.d050624c.otf);
}

@font-face {
    font-family: titleFont;
    src: url(assets/NamcoRegular-lgzd.ttf);
}

@keyframes title {
    0%, 100%   {color: yellow;}
    20%  {color: red;}
    40%  {color: violet;}
    60% {color: blue;}
    80% {color: lime;}
}

@keyframes bg_scroll {
    0%{ background-position-x: 0px;}
    0%{ background-position-y: 0px; }
    100% { background-position: 256px; }
    100%{ background-position-y: 256px; }
}

@keyframes title_button_select {
    0%{ scale: 1;}
    100%{ scale: 0.8;}
}

@keyframes title_button_deselect {
    0%{ scale: 0.8;}
    100%{ scale: 1;}
}